h1 {
  text-align: center;
}

.card_name,
input {
  font-family: 'Gaegu', cursive;
}

.card_name {
  font-size: 32px;
}

button {
  font-family: 'Atma', cursive;
}

input,
button {
  outline: none;
}

#root {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.card_collection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: min-content;
  grid-column-gap: 24px;
  height: 550px;
  overflow: auto;
  margin: 0 8px;
}

.card_container {
  background-color: #f3f4f7;
  display: flex;
  align-items: flex-start;
  margin-bottom: 24px;
}

.card_stats {
  width: 100%;
  margin-left: 16px;
}

.card_thumbnail {
  width: 196px;
  height: 273px;
}

.card_stats_row {
  display: grid;
  grid-template-columns: 60px auto;
  margin-bottom: 8px;
  align-items: center;
}

.card_stats_bar_background {
  height: 40px;
  width: 100%;
  background-color: #e4e4e4;
  border-radius: 20px;
}

.card_stats_bar {
  height: 40px;
  background-color: #f3701a;
  border-radius: 20px;
}

.card_stats_happiness_container > img {
  height: 30px;
  width: 30px;
}

.remove_button_container {
  min-width: 35px;
  padding: 8px 8px 0 0;
}

.remove_button {
  color: #dc7777;
  border: none;
  background-color: transparent;
  font-size: 32px;
  display: none;
  position: relative;
}

.add_button_container {
  min-width: 80px;
  padding: 8px 8px 0 0;
}

.add_button {
  color: #dc7777;
  border: none;
  background-color: transparent;
  font-size: 32px;
  display: none;
  position: relative;
}

.card_container:hover .remove_button,
.card_container:hover .add_button {
  display: block;
}

#bottom_bar {
  background-color: #ec5656;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 70px;
}

#open_modal_button {
  font-size: 36px;
  color: #ffffff;
  background-color: #ec5656;
  border: none;
  border-radius: 100%;
  height: 70px;
  width: 70px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 35px;
}

#modal_background {
  background-color: #000000a3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 48px;
}

#modal_container {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 16px;
  overflow: auto;
}

#search_input_container {
  width: 100%;
  display: flex;
  border: 1px solid #e6e6e6;
  margin-bottom: 24px;
}

#search_input {
  width: 100%;
  box-sizing: border-box;
  font-size: 32px;
  padding: 8px;

  border: none;
}

#search_icon {
  width: 60px;
  height: 60px;
}
